<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.crm.mapper.PaymentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.crm.entity.Payment">
        <id column="id" property="id" />
        <result column="contract_id" property="contractId" />
        <result column="customer_id" property="customerId" />
        <result column="contract_number" property="contractNumber" />
        <result column="contract_name" property="contractName" />
        <result column="number" property="number" />
        <result column="creater_id" property="createrId" />
        <result column="status" property="status" />
        <result column="payment_method" property="paymentMethod" />
        <result column="payment_time" property="paymentTime" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- main/resources/mapper/PaymentMapper.xml -->
    <select id="selectPage" resultMap="BaseResultMap">
        SELECT * FROM t_payment
        WHERE delete_flag = 0
        <if test="query.contractNumber != null and query.contractNumber != ''">
            AND contract_number LIKE CONCAT('%', #{query.contractNumber}, '%')
        </if>
        <if test="query.contractName != null and query.contractName != ''">
            AND contract_name LIKE CONCAT('%', #{query.contractName}, '%')
        </if>
        <if test="query.status != null">
            AND status = #{query.status}
        </if>
        <if test="query.paymentMethod != null">
            AND payment_method = #{query.paymentMethod}
        </if>
        <if test="query.customerId != null">
            AND customer_id = #{query.customerId}
        </if>
        ORDER BY create_time DESC
    </select>

</mapper>
